<a href="https://colab.research.google.com/github/AnkitSingh028/Data-Analytics-Codes/blob/main/Import_Export.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

#========CREATE SIMPLE DATA========#
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Diane'],
    'Age' : [22,25,23,21],
    'Score' : [85.5,90.0,78.3,92.1]
}

df = pd.DataFrame(data)
print("Original DataFrame:\n", df,"\n")

# ===== EXPORT ==== #
df.to_csv('data.csv', index = False)
df.to_excel('data.xlsx', index = False)
df.to_csv('data.txt', sep='\t',index = False)
print("Files exported: data.csv, data.xlsx,data.txt \n")

# ==== IMPORT ==== #
df_csv = pd.read_csv('/content/data.csv')
df_xls = pd.read_excel('/content/data.xlsx')
df_txt = pd.read_csv('/content/data.txt')

# ==== DISPLAY ==== #
print("--- From CSV ---\n", df_csv,"\n")
print("--- From Excel ---\n", df_xls, "\n")
print("--- From TXT ---\n",df_txt,"\n")

Original DataFrame:
       Name  Age  Score
0    Alice   22   85.5
1      Bob   25   90.0
2  Charlie   23   78.3
3    Diane   21   92.1

Files exported: data.csv, data.xlsx,data.txt

--- From CSV ---
       Name  Age  Score
0    Alice   22   85.5
1      Bob   25   90.0
2  Charlie   23   78.3
3    Diane   21   92.1

--- From Excel ---
       Name  Age  Score
0    Alice   22   85.5
1      Bob   25   90.0
2  Charlie   23   78.3
3    Diane   21   92.1

--- From TXT ---
     Name\tAge\tScore
0    Alice\t22\t85.5
1      Bob\t25\t90.0
2  Charlie\t23\t78.3
3    Diane\t21\t92.1